body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-y: hidden;
}
/* HEADER BOX */
header {
    background-color: rgb(167, 60, 113);
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,.15));
    width: 100vw;
    height: 10vh;
    position: absolute;
    margin: 0 0 0 0;
    z-index: 2;
}
header div {
    width: 97vw;
    height: 10vh;
    line-height: 10vh;
    text-align: right;
    display: flex;
    justify-content: right;
    margin-right: 3vw;
}
.icon {
    height: 5vh;
    line-height: 10vh;
    padding: 2.5vh 0 0 0;
}
#bus-name {
    color: white;
    margin: 0 0 0 10%;
    padding: 0 0 0 0;
    font-family: 'Lato';
    font-size: 22px;
    height: 10vh;
    line-height: 10vh;
    text-align: left;
    width: 50vw;
    filter: none;
    position: absolute;
    z-index: 3;
}

/* MAP CONTENT */
#map {
    position: absolute; 
    top: 10vh;
    bottom: 0; 
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.marker { 
    width: 70px;
    height: 18px;
	font-size: 12px;
}
.usr {
    color: rgb(240, 119, 198);
    font-family: 'Lato';
    font-size: 13px;
    margin-top: 6px;
    display: inline;
}
.time {
    font-family: 'Lato';
    font-size: 10px;
    margin: 0 10px 0 15px;
    color: rgba(0,0,0,0.7);
    display: inline;
    float: right;
}
.msg {
    font-family: 'Lato';
    font-size: 15px;
}
.mapboxgl-popup {
    filter: drop-shadow(3px 0 0 rgb(223, 98, 179)) 
        drop-shadow(0 3px 0 rgb(223, 98, 179))
        drop-shadow(-3px 0 0 rgb(223, 98, 179)) 
        drop-shadow(0 -3px 0 rgb(223, 98, 179));
}
.mapboxgl-popup-content {
    border-radius: 10px;
}
.mapboxgl-popup-close-button {
    margin-top: 3px;
}

