* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}