* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstPage {
background: #17C5A0;
display: flex;
align-items: center;
justify-content: center;
}

.testList{
  height: 85vh;
  overflow-y: scroll;
}
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  width: 500px;
  background: #ffffff ;
  border-radius: 40px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  margin: 45px;
  color: #000000;
}

.bubble2 {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  width: 500px;
  background: #ffffff ;
  border-radius: 40px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  margin: 45px;
  margin-left: 300px;
  color: #000000;
}

.bottom-arrow:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-left: 30px solid #ffffff;
  border-bottom: 30px solid transparent;
  left: 50px;
  bottom: -30px;
}

.bottom-arrow2:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-right: 30px solid #ffffff;
  border-bottom: 30px solid transparent;
  right: 50px;
  bottom: -30px;
}

#textid{
  position: fixed;
  bottom: 30px;
  margin-top: 25px;
  margin-left: 10px;
  line-height: 40px;
  border-radius: 20px;
}

