.desktop {
    background-color: #4fc5c5;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1000px;
    top: 45%;
    left: 50%;
    color: #000000;
    font-family: 'Lucida Console', sans-serif;
    font-style: bold;
    font-size: 35px;
    font-weight: 400;
    line-height:45px;
    text-align: center;
    text-shadow: 0px 4px 4px
        rgba(0, 0, 0, 0.25)
}

img {
    width: 300px;
    height: 300px;
    left: 50%;
}